{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('keen_slider') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('keen_slider') }}
{% endblock %}
{# <div class=' text-red-600'>{errorMessages.selectedPlanError}</div> #}
{% block body %}
	<div class='container-fluid section-uneven py-6 px-3 px-md-5'>
		<div class='row'>
			<h2 class='text-4xl font-bold text-center mb-5'>Immortalisez vos événements avec notre photobooth à prix abordable</h2>
		</div>
		<div class='row'>
			<div class="col-12">
				<div id="my-keen-slider-3" class="keen-slider">
					{% for plan in plans %}
						<div class="keen-slider__slide number-slide{{ loop.index }}">
							<div class="block rounded-4 border border-4 bg-white w-auto {% if plan.product.name == 'Standard Plan' %} border-primary {% elseif plan.product.name == 'Premium Plan' %} border-secondary {% elseif plan.product.name == 'Gold Plan' %} border-warning {% endif %}">
								<div class="p-3 border-bottom border-gray-300 text-center">
									<p class="text-uppercase fs-4 mb-4">
										<strong>{{ plan.product.name }}</strong>
									</p>
									<h3 class="text-2xl">
										<strong>{{ (plan.unit_amount / 100)|number_format(2, '.', ' ') ~ ' €' }}</strong>
									</h3>
								</div>
								<div class="p-3 d-flex justify-content-center">
									<ul class="d-flex flex-column justify-content-center ps-0">
										<li class="my-4 d-flex align-items-center fs-5 gap-2">
											<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="text-success icon-size" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
												<path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
											</svg>
											<strong>
												{% if plan.product.name == 'Gold Plan' %}
													Photos tirages illimités
												{% elseif plan.product.name == 'Premium Plan' %}
													400 tirages photos
												{% elseif plan.product.name == 'Standard Plan' %}
													100 tirages photos
												{% endif %}
											</strong>
										</li>
										<li class="mb-4 d-flex align-items-center fs-5 gap-2">
											<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="text-success icon-size" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
												<path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
											</svg>
											Photos digitales illimitées
										</li>
										<li class="mb-4 d-flex align-items-center fs-5 gap-2">
											<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="text-success icon-size" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
												<path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
											</svg>
											Cadres personnalisés
										</li>
										<li class="mb-4 d-flex align-items-center fs-5 gap-2">
											<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="text-success icon-size" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
												<path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
											</svg>
											Envoi illimité par mail
										</li>
										<li class="mb-4 d-flex align-items-center fs-5 gap-2">
											<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="text-success icon-size" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
												<path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
											</svg>
											Galerie web sécurisée
										</li>
										<li class="mb-4 d-flex align-items-center fs-5 gap-2">
											<a href="/make-reservation/{{ plan.id }}" type="button" class="btn w-100 {% if plan.product.name == 'Standard Plan' %} btn-primary {% elseif plan.product.name == 'Premium Plan' %} btn-secondary {% elseif plan.product.name == 'Gold Plan' %} btn-warning {% endif %}">Primary</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
