{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('flatpickr') }}
	{{ encore_entry_link_tags('select2') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('flatpickr') }}
	{{ encore_entry_script_tags('select2') }}
	{{ encore_entry_script_tags('eventTypePicker') }}
{% endblock %}

{% block body %}
	<div class='container-fluid section-5 py-3'>
		<div class="row">
			<h2 class="d-flex flex-column align-items-center">
				<p>
					<strong>Réserver du Photobooth</strong>
				</p>
				<p>
					<strong>Capt My Events</strong>
				</p>
			</h2>
		</div>
		{{ form_start(reservationForm, {'attr': {'class': 'vpx-5 vpx-md-15 vpx-lg-25 vpx-xxl-30', 'method': 'POST'} }) }}
		<div class='row mb-3'>
			{{ form_widget(reservationForm.eventPlan, {
				'theme': 'custom_form_theme.html.twig',
				'vars': {
					'chosen_plan': chosen_plan
				}
			}) }}
		</div>
		<div class='row'>
			<div class="d-flex flex-column flex-md-row mb-3 justify-content-between gap-3">
				<div class="w-100 w-md-30">
					<label class="form-label">Pick a date</label>
					{{ form_widget(reservationForm.eventDate, {	'attr': { 'data-min-date': minDate, 'data-blocked-dates': reservedDates, 'required': 'true'} }) }}
				</div>
				<div class="w-100 w-md-60">
					<label class="form-label">Choisir une ville</label>
					{{ form_widget(reservationForm.eventZip, { 'attr': { 'class': 'js-example-basic-single', 'style': 'width: 100%;', 'required': 'true'} }) }}					
				</div>
			</div>
		</div>
		<div class='row mb-3'>
			<div class="w-100">
				{{ form_label(reservationForm.eventAddress, 'Saisir une adresse') }}
				{{ form_widget(reservationForm.eventAddress, {'attr': {'required': 'true'} }) }}
			</div>
		</div>
		<div class='row mb-3'>
			<div class="w-100">
				{{ form_label(reservationForm.eventAddressAddInfo, 'Saisir une information supplementaire') }}
				{{ form_widget(reservationForm.eventAddressAddInfo) }}
			</div>
		</div>
		<div class='row mb-3'>
			<div class="form-label">Type d'événement</div>
			{{ form_widget(reservationForm.eventType, {'theme': 'custom_form_theme.html.twig'}) }}
		</div>
		<div class='row mb-3 mx-0 desactive-input overflow-hidden' id="suppTypeInput">
			{{ form_label(reservationForm.addEventType, 'Preciser votre type d\'événement', {'label_attr': {'class': ' text-nowrap px-0'} }) }}
			{{ form_widget(reservationForm.addEventType) }}
		</div>
		<div class='row mb-3 mx-1'>
			{{ form_widget(reservationForm.agreeTerms, {'label': 'J\'ai pris connaissance et accepte la politique de confidentialité de Capt my Events'}) }}
		</div>
		<div class='row justify-content-center mb-3'>
			<button type="submit" class="btn btn btn-info w-75">Submit</button>
		</div>
	</div>
	{{ form_end(reservationForm) }}</div>{% endblock %}
